/* Global styles */

body {
    background-color: aliceblue;
}

header {
    background-color: lightskyblue;
}

main {
    background-color: #999;
}


footer {
    background-color:lightskyblue;
}

/* section styles */

section {
    border: 1px solid black;
    padding: 5px;
}