/* Global styles */

body {
    background-color: aliceblue;
}

header {
    background-color: lightskyblue;
}

main {
    background-color: #999;
}


footer {
    background-color:lightskyblue;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
}

/* homepage styles */

.title-section {
    background-color: darkkhaki;

}